@{
    Layout = "~/Views/Shared/_ScheduleSystemLayoutPage.cshtml";  
}

<div class="container">

    <div class="jumbotron hero-spacer">
        <h1>Welcome to S-chedule!</h1>
        
    </div>

    <hr>

    <div class="row">
        <div class="col-lg-12">
           
        </div>
    </div>
    <!-- /.row -->

    <div class="row text-center">

        <div class="col-lg-3 col-md-6 hero-feature">
            <div class="thumbnail">

                <img src="~/Content/images/Calendar-icon.png" />
                <div class="caption">
                    <h3>Calendar</h3>
                    <p>
                        <a href="~/Calendar" class="btn btn-primary">View the calendar</a>  </p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 hero-feature">
            <div class="thumbnail">
                <img src="~/Content/images/Tasks.png" alt="">
                <div class="caption">
                    <h3>Manage tasks</h3>
   
                    <p>
                        <a href="~/Task" class="btn btn-primary">Manage tasks</a>  
                    </p>

                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 hero-feature">
            <div class="thumbnail">
                <img src="~/Content/images/Report.png" alt="">
                <div class="caption">
                    <h3>Reports</h3>
                    <p>
                        <a href="#" class="btn btn-primary">Generate reports</a>
                    </p>

                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 hero-feature">
            <div class="thumbnail">

                <img src="~/Content/images/options-icon.png" />
                <div class="caption">
                    <h3>Other options</h3>
                    <p>
                        <a href="#" class="btn btn-primary">Other options</a>
                    </p>
                </div>
            </div>
        </div>


    </div>
    <!-- /.row -->




</div>
<!-- /.container -->
<!-- JavaScript -->
<script src="js/jquery-1.10.2.js"></script>
<script src="js/bootstrap.js"></script>