@{
    Layout = "~/Views/Shared/_SystemIndexLayoutPage.cshtml";  
}

@{
    ViewBag.Title = "S-chedule Home Page";
}

   <div class="bgjumbotron"></div>
<div class="jumbotron">
    <div class="row">
        <div class="col-lg-1">

            <h1><i class="fa fa-calendar"></i></h1>

        </div>
        <div class="col-lg-11">

            <h3>Welcome to S-chedule </h3>
        </div>
    </div>
  
</div>

    <div class="row text-center">

        <div class="col-lg-3 col-md-6 hero-feature">
            <div class="thumbnail nicecolor">

                @*<img src="~/Content/images/Calendar-icon.png" />*@
                <i class="fa fa-calendar-o fa-5x"></i>

                <div class="caption">
                    <h3>Calendar</h3>
                    <p>
                        <a href="~/Calendar" class="btn btn-info">View the calendar</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 hero-feature">
            <div class="thumbnail nicecolor">
                @*<img src="~/Content/images/Tasks.png" alt="">*@
                <i class="fa fa-tasks fa-5x"></i>

                <div class="caption">
                    <h3>Manage tasks</h3>

                    <p>
                        <a href="~/Task" class="btn btn-info">Manage tasks</a>
                    </p>

                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 hero-feature">
            <div class="thumbnail nicecolor">
                @*<img src="~/Content/images/Report.png" alt="">*@

                <i class="fa fa-area-chart  fa-5x"></i>


                <div class="caption">
                    <h3>Reports</h3>
                    <p>
                        <a href="#" class="btn btn-info">Generate reports</a>
                    </p>

                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 hero-feature">
            <div class="thumbnail nicecolor">

                @*<img src="~/Content/images/options-icon.png" />*@
                <i class="fa fa-lightbulb-o fa-5x"></i>

                <div class="caption">
                    <h3>Other options</h3>
                    <p>
                        <a href="#" class="btn btn-info">Other options</a>
                    </p>
                </div>
            </div>
        </div>


    </div>
    <!-- /.row -->





<!-- JavaScript -->
