<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="dhx_license" value="akim@albertkimcpa.com-enterprise--mwz7ZMXxus0kzTBC1vjkhkgys5VGVDfHcqrmAhwQadlNPFZvK3e44GH50FJcvDLQwQ9fa8V0fuRXO40CjTx3WA==" />
  <add key="DropBoxToken" value="Content\DropBox\SharpDropBoxOSBox.Token" />
</appSettings>
