
@{
    ViewBag.Title = "SecurityError";
}

@{
    ViewBag.Title = " Security Error";
}

<h1 class="text-danger"><span class="glyphicon glyphicon-ban-circle"></span>@ViewBag.Title</h1>
<h2 class="text-danger">@ViewBag.ErrorMessage .</h2>

