
@{
    ViewBag.Title = "Index3";
    var folders = ViewBag.folders;
    Layout = "~/Views/Shared/_SystemIndexLayoutPage.cshtml";
}

<h2>Index3</h2>

<link rel="stylesheet" href="../Scripts/JSTree/dist/themes/default/style.min.css" />


<div id="jstree_demo_div">

 








</div>
<script src="../Scripts/JSTree/dist/libs/jquery.js"></script>

<script src="../Scripts/JSTree/dist/jstree.min.js"></script>
<script>
   // var locations = @Html.Raw("/file/GetFolderStructure");

    // 6 create an instance when the DOM is ready
    $('#jstree_demo_div').jstree(@Html.Raw(folders));
    //tree.create();

    function getResult() {
        var result = $('#jstree_demo_div').jstree(true).get_selected();
        alert(result);
    }

</script>