
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_ScheduleSystemLayoutPage.cshtml";
}

<h2>Reset Password Confirmation</h2>
<hr />
<div>The password for: <span class="label label-info "> <b> @ViewBag.FullName </b></span> has been updated to  <b>password</b> </div>
<div> The user name for this account is <b>@ViewBag.UserName</b></div>
<hr />
<div>@Html.ActionLink("Back to List", "Index")</div>

