@{

    var folders = ViewBag.folders;


}


<link rel="stylesheet" href="../Scripts/JSTree/dist/themes/default/style.min.css" />
<script src="../Scripts/JSTree/dist/libs/jquery.js"></script>
<script src="../Scripts/JSTree/dist/jstree.min.js"></script>


<div id="progress" class="modal">
</div>

<div id="CurrentSelection" style="margin-top:2em; text-align:left; color:orange"> @ViewBag.Message</div>
<div class="panel panel-info">
    <div class="panel-heading"> <b>File management system</b></div>
    <div class="panel-body">
        <div id="jstree"></div>
    </div>
</div>




<script>
    var $i = jQuery.noConflict();
    $('#progressBar').hide();
</script>

<script>




    @*$i("#jstree").jstree(@Html.Raw(folders));*@
    jQuery(document).ready(function () {

        $i("#jstree").jstree(@Html.Raw(folders));


    })


    var contextMenu = function (node) {
        var items = {
            "Remove": {
                "label": "Remove File",
                "action": function (data) {
                    var inst = $i.jstree.reference(data.reference),
                        obj = inst.get_node(data.reference);
                    if (inst.is_selected(obj)) {
                        inst.delete_node(inst.get_selected());
                    }
                    else {
                        inst.delete_node(obj);
                    }
                }
,

                "_class": "content-menu-item context-properties",
                "separator_before": false,
                "separator_after": true,
                "icon": "/Content/images/delete-file-icon.png"
            },
            //"refresh": {
            //    "label": "Refresh",
            //    "icon": "fa fa-refresh",
            //    "separator_before": true,
            //    "action": function (data) {
            //        var inst = $i.jstree.reference(data.reference),
            //                 obj = inst.get_node(data.reference);
            //        inst.remove(obj);
            //    }

            //},
            //"cut": {
            //    "label": "Cut",
            //    action: function (obj) {
            //        this.cut(obj);
            //    },
            //    "_class": "context-cut",
            //    "separator_before": false,
            //    "separator_after": false,
            //    "icon": "http://s.mlkshk.com/r/ULM8.png"
            //},
            //"copy": {
            //    "label": "Copy",
            //    action: function (obj) {
            //        this.copy(obj);
            //    },
            //    "_class": "context-copy",
            //    "separator_before": false,
            //    "separator_after": false,
            //    "icon": "http://s.mlkshk.com/r/ULM8.png"
            //},
            //"paste": {
            //    "label": "Paste",
            //    action: function (obj) {
            //        this.paste(obj);
            //    },
            //    "_class": "context-paste",
            //    "separator_before": false,
            //    "separator_after": true,
            //    "icon": "http://s.mlkshk.com/r/ULM8.png"
            //},
            //"deleteme": {
            //    "label": "Delete",
            //    action: function () {
            //        // custom delete action
            //    },
            //    "_class": "context-delete",
            //    "separator_before": false,
            //    "separator_after": false,
            //    "icon": "http://s.mlkshk.com/r/ULM8.png"
            //},

        };

        // disabled some context options for tree root
        //if (node.a_attr("href") === "") {
        if (!node.data.file) {
            items.Remove._disabled = true;
            //    items.cut._disabled = true;
            //    items.copy._disabled = true;
            //    items.deleteme._disabled = true;
        }
        return items;
    };



    //////Source: http://stackoverflow.com/questions/12559515/jquery-ajax-call-to-controller
    /////

    //Call the delete file method of the controller From the controller file

    $i('#jstree').on("delete_node.jstree", function (e, data) {
        $('#progress').show();

        $.ajax({
            type: 'POST',
            url: '@Url.Action("DeleteFileComplete", "File")',
            data: { fileID: data.node.id },
            cache: false,
            success: function (result) {
                $('#progress').hide();

            }
        })

        //alert(data.node.id);
    });



    $i('#jstree').on('changed.jstree', function (e, data) {
        var i, j, r = [];
        for (i = 0, j = data.selected.length; i < j; i++) {
            r.push(data.instance.get_node(data.selected[i]).text);
        }

        $('#CurrentSelection').html('Selected item: ' + r.join(', '));
        var result = $i('#jstree').jstree(true).get_selected();
        $('#Parent_Folder').val(result);
        $('#ParentFolderID').val(result);
        $('#Parent_Folder3').val(result);
        $('#FolderForFileUploadAction').val(result);
    });


    //To select an item fro the tree

    $i('#jstree').bind("select_node.jstree", function (e, data) {
        var href = data.node.a_attr.href;
        document.location.href = href;
    });


   // https://stackoverflow.com/questions/4684722/show-loading-image-while-ajax-is-performed/4684771#4684771

    //$('#progressBar').bind('ajaxStart', function () {
    //    $(this).show();
    //}).bind('ajaxStop', function () {
    //    $(this).hide();
    //});

</script>
