@{
    ViewBag.Title = "About Us .. ";
}
<h2>@ViewBag.Title.</h2>



<p>
    <b>
        Albert T. Kim, CPA, PA is located in Catonsville, MD, <br />
        just minutes from I695 & I70.<br />
        We are a full service accounting firm specializing in<br />
        small to medium sized businesses.<br />
        If you need assistance with your accounting or <br />
        bookkeeping, please contact us for a consultation.<br />

    </b>
</p>
