
@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title.</h2>



<address>
    <b>Albert T. Kim, CPA, PA </b><br />
    4 E. Rolling Crossroads<br />
    Suite 211 <br />
    Catonsville, MD  21228 <br />

    Main:  (410)719-1000<br/>
    Fax: (410)719-9198<br/>
</address>

<address>
    <strong>Support:</strong>   <a href="info@albertkimcpa.com">info@albertkimcpa.com</a><br />
   
</address>


    <p>
        <b>Map Location: </b><br/>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3087.2624829164733!2d-76.75337390000004!3d39.304973300000015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c8194b212cf269%3A0x6a09e6fde8b98425!2s4+Rolling+Crossroads+%23211%2C+Catonsville%2C+MD+21228!5e0!3m2!1sen!2sus!4v1406437596787" width="600" height="450" frameborder="0" style="border:0"></iframe>
      </p>


@*<script type="text/javascript" src="../Scripts/DhtmlxGrid/dhtmlXGrid.js"></script>
<script type="text/javascript" src="../Scripts/DhtmlxGrid/dhtmlxtree.js"></script>  
<link rel="STYLESHEET" type="text/css" href="../Scripts/DhtmlxGrid/dhtmlxgrid.css">  
<script type="text/javascript" src="../Scripts/DhtmlxGrid/dhtmlxcommon.js"></script>
<script type="text/javascript" src="../Scripts/DhtmlxGrid/dhtmlxtree_start.js"></script>          

    <div id="gridbox" style="width:600px;height:400px;"></div>
    <script>
        mygrid = new dhtmlXGridObject('gridbox');
        mygrid.setImagePath("../Content/CustomCSS/codebase/imgs/");          //the path to images required by grid
        mygrid.setHeader("id,fname,lname");
        mygrid.setColumnIds("id,fname,lname");//the headers of columns
        mygrid.setInitWidths("*,100,250");          //the widths of columns
        //mygrid.setColAlign("right,left");       //the alignment of columns
        mygrid.setColTypes("ro,ed,ed");                //the types of columns
        //mygrid.setColTypes("dyn,ed,txt,price,ch,coro,ra,ro");
        mygrid.setColSorting("int,str,str");          //the sorting types
        mygrid.init();      //finishes initialization and renders the grid on the page
        mygrid.load("/home/getcustomers","js");


    </script>*@

