@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    4 E. Rolling Crossroads<br />
    Suite 211<br />
    Catonsville, MD  21228<br />
    <abbr title="Phone">P:</abbr>
    (410)719-1000 <br/>
    <abbr title="Fax">P:</abbr>
    (410)719-9198

    

</address>

<address>
    <strong>Email:</strong>   <a href="mailto:info@albertkimcpa.com">info@albertkimcpa.com</a><br />
</address>