@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><img src="~/Content/images/aklogo1.gif" />Albert T. Kim, CPA</h1>

    <br />
    
    
   
    
    
</div>

<div class="row">
    <div class="col-md-4">
        <p>
            
            <address>
                <b>  Albert T. Kim, CPA, PA </b> <br />
                4 E. Rolling Crossroads<br />
                Suite 211 <br />
                Catonsville, MD  21228 <br />

                Main:  (410)719-1000<br />
               
            </address>

        </p>

     </div>

            <div class="col-md-8">
                
                <p>
                    <div ><img src="~/Content/images/Mr._Kim.JPG" style="float: left; padding: 10px 10px 10px 10px; " /></div>
                    <div class="label-default">
                        <b>Welcome to our web site.</b>  <br />
                        Albert T. Kim, CPA's firm has been serving the Woodlawn and surrounding areas for years.<br />
                        We provide services in bookkeeping, accounting and consulting.<br />
                        We are a proud member of the Security Woodlawn Village Business Association.<br />
                        Whether you have a business or need personal accounting representation, please contact us to see if we can help.<br />
                        Don't forget to visit our helpful links page as there are many IRS and other Government links for your convenience.
                    </div>

                    
                </p>

            </div>
            <div class="col-md-4">
                <h2></h2>

                    <b>
                        Need
                        directions to
                        our Baltimore
                        office?
                        @Html.ActionLink("Click Here", "Contact")

                    </b>
                </p>
                </p>

            </div>
        </div>





<div></div>