@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
 
    <h1><img src="~/Content/images/aklogo1.gif" />Albert T. Kim, CPA</h1>
    @*<p class="lead">Welcome to our web site.  Albert T. Kim, CPA's firm has been serving the Woodlawn and surrounding areas for years.  We provide services in bookkeeping, accounting and consulting.  </p>*@
    
   
</div>

<div class="row">
    <div class="col-md-3">
        <h2>   
            <img src="~/Content/images/ScheduleCalendar.png" /> 
        S-chedule
        </h2>
        <p>
            S-chedule is a an online scheduling and task management system built for for AK customers and employees .
        </p>
        <p><a class="btn btn-default" href="~/ScheduleHome">Go now &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>
            <img src="~/Content/images/CRM.png" />
        CRM </h2>
        <p>processes implemented to manage a company's interactions with customers and prospects.</p>
        <p><a class="btn btn-default" href="~/CRMHome">Go Now &raquo;</a>
        
         
        
        </p>
    </div>
    <div class="col-md-3">
        <h2>
            <img src="~/Content/images/LMS.png" />
        LMS</h2>
        <p>Administration, documentation, tracking, reporting and delivery of e-learning education courses or training programs.</p>
        <p><a class="btn btn-default" href="~/Content/EmployeeManual/index.html">Go Now &raquo;</a></p>
    </div>
    
    @if (User.IsInRole("Administrator"))
    {

    <div class="col-md-3">
        <h2>
            <img src="~/Content/images/AdminPanel.ico" />
        Admin Panel</h2>
        <p>Manage employees, Customers and roles</p>
        <p><a class="btn btn-default" href="~/AdminPanel" >Go now &raquo;</a></p>
    </div>
    }
</div>

   
    